.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(79deg, #7439db, #C66FBC 48%, #F7944D );
}

.auth-form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 600px){
  
}
.auth-form-container{
  padding: 5rem;
  border: 1px solid white;
  border-radius: 10px;
  margin: 0.5rem;
}

label{
  text-align: left;
  padding: 0.25rem 0;
}

input{
   margin: 0.5rem 0;
   padding: 1rem;
   border: none;
   border-radius: 10px;
}

button{
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #7439db;
}

.link-btn{
  background: none;
  color: white;
  text-decoration: underline;
}

.admin-portal{
  color: black;
  display: flex;
  font-weight: 500;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding-left: 2rem;
  padding-right: 4rem;
  background-color: linear-gradient(79deg, #6a27dd, #ed3dd8 60%, #c35d15 );
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 15vh;
}

.student{
  float:left; 
  clear: left;
  color: black;
  display: flex;
  font-weight: 500;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding-left: 2rem;
  padding-right: 4rem;
  background-color: linear-gradient(79deg, #6a27dd, #ed3dd8 60%, #c35d15 );
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 15vh;
}

.table{border-collapse: collapse; table-layout: fixed; border:1px solid grey; width:94%; margin: 0 auto;}
.table th{font-weight: 500; background-color: cornflowerblue}
.table th, .table td{padding:5px; border:1px solid #000}
.form-data-control{margin:10px auto; width: 80%;}
.form-control {margin: 0 0 10px;}
.form-control .input{border:1px #ccc solid; width: 100%; padding: 5px}
.button-save{padding:10px 20px; margin: 10px 0 0; background-color: darkcyan; border:none; font-size: 12px; color:white }

